/* 
Base CSS
*/
root { 
    display: block;
}

body {
    background:  url('../img/Backgrounds/BlasphemousAct.png') no-repeat top left #0F0F0F;
    color: white;
    padding: 30px 50px 0px 50px;
}

/* 
Text & header formatting
*/
h1{
    text-shadow: black 2px 2px 2px;
    font-size: 2em;
    font-weight: normal;
    font-family: 'Bevan', serif;
    display: inline-block;
    color: #CCCCCC;
    margin-bottom:0;
}
h2 {
    font-size: 2em;
    font-weight: normal;
    text-shadow: black 2px 2px 2px;
    font-family: 'Marvel', sans-serif;
    display: inline-block;
    margin-bottom:0;
}
h4 {
    text-shadow: black 2px 2px 2px;
    margin: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #CCCCCC;
}
p {
    margin: .5em 0 0 0;
    font-family: sans-serif;
    font-size: .75em;
    color:white;
    display: inline-block;
}
.alignRight {
    text-align: right;
    float:right;
}
.alignLeft {
    text-align: left;
}
.alighnCenter {
    text-align: center
}

/*
Div & Container formatting
*/
#container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.content {
    position: relative;
    padding: 15px 45px 45px 15px;
    min-height:300px;
    background: url('../img/transparentBlack.png') repeat;
    border-radius: 5px;
    border: 1px solid darkgrey;
    z-index: 1;
}
.contentSection {
    margin-top: 0px;
    margin-bottom: 30px;
    width: 100%;
}
.contentLeft {
    width: 35%;
    padding-right: 50px;
    display: inline-block;
    float: left;
}
.contentRight {
    width: 50%;
    display: inline-block;
    float:left
}
.contentSection:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.buttonBar {
    position: absolute;
    bottom: 15px;
    display: block;
    width: 568px;
}
.title {
    position:relative;
    margin-left: 15px;
    margin-bottom: -11px;
    z-index: 2;
}
.deleteButtonContainer {
    height:13px;
    width:13px;
    display: inline-block;
    position: relative;
    bottom: -4px;
    border-radius: 50%;
    background:#4E6555;
    border:2px solid white;
}
.deleteButtonContainer:hover {
    background: #769881;
    cursor: pointer;
}
.deleteButton{
    position: relative;
    left: -2px;
    top: -2px;
}
.helpButtonContainer {
    position:absolute;
    top: 16px;
    right: 16px;
    border-radius: 50%;
    background:#4E6555;
    border:2px solid white;
}
.helpButtonContainer:hover {
    background: #769881;
    cursor: pointer;
}
.footer {
    text-align: right;
    margin-top: -5px;
    padding-right: 15px;
}

/*
Element formatting
*/
.contentRight ol, ul {
    margin: 0px 0px 0px -42px;
}
li {
    text-shadow: black 2px 2px 2px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: .75em;
    color: white;
}
.numberField {
    width: 2em;
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-spacing: 0px;
    border: 3px solid white;
    width: 62%;
}
.name{
    margin-right: 5px;
}
a{
    color: #769881;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: #C1D2C0;
}


/*
Table Formatting
*/
th, tr, td{
    padding : 6px 10px 6px 10px;
    text-align: center;
}
.buttonBar *{
    display: inline-block;
}
.borderRight {
    border-right: 1px solid white;
}
.borderTop {
    border-top: 1px solid white;
}
.borderLeft {
    border-left: 1px solid white;
}
.borderBottom {
    border-bottom: 1px solid white;
}
.trDark{
    background: url('../img/transparentBlack.png') repeat;
    background: rgba(78, 101, 85, 0.5); 
}
.trLight{
    background: rgba(193, 210, 192, 0.5); 
}
.invalidData{
    background: #9F3E35 !important;
}
.tbInfo {
    display:none;
}
#showTiebreakers {
    vertical-align: top;
    border: 3px solid white;
    border-left: none;
    display:inline-block;
    padding-right: 3px;
    position: relative;
    left: -4px;
}
.tableContainer {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
#scoreSheet {
    margin: 0 0 0 0;
}


/*
* Help formatting
*/
.hidden {
    display: none;
}
.modal {
    background: rgba(15, 15, 15, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left:0px;
    z-index: 10;
}
.modalContent {
    background: #0f0f0f;
    width: 400px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid white;
    padding: 15px;
    -moz-box-shadow: 0px 0px 15px black;
    -webkit-box-shadow: 0px 0px 15px black;
    box-shadow: 0px 0px 15px black;
}
.modal img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;

}