/* 
    Document   : mtgdc
    Created on : Nov 10, 2011, 10:54:52 PM
    Author     : Erin
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
    background:  url('../img/BlasphemousAct.png') no-repeat top left black;
    color: white;
    padding: 30px 50px 0px 50px;
}
#container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-shadow: black 2px 2px 2px;
}
h2 {
    text-shadow: black 2px 2px 2px;
    font-family: Gill, Helvetica, sans-serif;
}
li {
    text-shadow: black 2px 2px 2px;
}
#bestOf {
    width: 1em;
}
.deleteButtonContainer{
    position: absolute;
    padding-top: 3px;
    height: 100%;
    display: inline-block !important;
}
.name {
}
.shadow {
    position: absolute;
    width: 600px;
    height: 450px;
    background: black;
    opacity: 0.6;
    border-radius: 5px;
}
div.content {
    position: relative;
    padding: 15px;
    width: 600px;
    min-height:300px;
    border-radius: 5px;
    border: 1px solid darkgrey;
}